

@{
    ViewBag.Title = "EnterSite";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hgroup>
    <h1 style="color:forestgreen" class="mt-5"><em>Thank You For Your Interest In Our Site!!</em></h1>
    <h4 style="color:forestgreen" class="mt-5 mb-5"><em>Unfortunately, You Must Be 18 Years Of Age To Enter!</em></h4>
</hgroup>

<div class="container">

    <div class="row align-content-center">

        <div class="col-3"></div>

        <div class="col-6">
            <a id="ErrorReturnHome" class="btn btn-outline-warning btn-block" href="/home/index">Return Home To PhaS Game Stats ---></a><br />
        </div>

        <div class="col-3"></div>
    </div>

</div>

